<div style="width: 400px; position: relative">
	<div data-dojo-attach-point="mouseTip" style="display: none; position: fixed; border: solid 1px black; background-color: #FFFFAA; z-index: 900; padding: 3px">...</div>
	<div data-dojo-type="dijit/Menu" data-dojo-props="contextMenuForWindow: true, selector: 'td.field-id'" data-dojo-attach-point="tiepointsContextMenu" style="display: none" data-dojo-attach-event="onOpen: tiepointsContextMenuOpen">
		<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="resetTiepointMenuItem" data-dojo-attach-event="onClick: resetTiepoint">Reset Tiepoint</div>
		<div data-dojo-type="dijit/MenuItem" data-dojo-attach-event="onClick: removeTiepoint">Remove Tiepoint</div>
	</div>
	<div data-dojo-type="dijit/Dialog" data-dojo-attach-point="addRasterDialog" title="Add Raster">
		<table class="dijitDialogPaneContentArea">
			<tr>
				<td style="height: 25px; vertical-align: middle; width: 1; white-space: nowrap">
					<label>Raster:</label>
				</td>
				<td style="height: 25px; vertical-align: middle">
					<form data-dojo-attach-point="uploadForm">
						<input type="file" data-dojo-attach-point="imageFile" style="min-width: 250px; width: 100%" name="file">
					</form>
				</td>
			</tr>
		</table>
		<div class="dijitDialogPaneActionBar">
			<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onClick: addRasterDialog_upload">Upload</button>
		</div>
	</div>
	<div data-dojo-type="dijit/Dialog" data-dojo-attach-point="rasterNotSelectedDialog" title="Raster not selected">
		<div class="dijitDialogPaneContentArea">
			Please select a Raster to Georeference from the Rasters Panel.
		</div>
		<div class="dijitDialogPaneActionBar">
			<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onClick: hideRasterNotSelectedDialog">OK</button>
		</div>
	</div>
	<div data-dojo-type="dijit/TooltipDialog" data-dojo-attach-point="asyncTaskDetailsPopup" data-dojo-attach-event="onBlur: atdpClose" style="display: none; width: 350px">
		<table style="width: 100%">
			<tr>
				<td>Task Id:</td>
				<td data-dojo-attach-point="atdpResultId"></td>
			</tr>
			<tr>
				<td>Task:</td>
				<td data-dojo-attach-point="atdpTask" width="70%"></td>
			</tr>
			<tr>
				<td>Raster Id:</td>
				<td data-dojo-attach-point="atdpRasterId"></td>
			</tr>
			<tr>
				<td>Status:</td>
				<td data-dojo-attach-point="atdpStatus"></td>
			</tr>
			<tr data-dojo-attach-point="atdpStartTimeTr">
				<td>Start Time:</td>
				<td data-dojo-attach-point="atdpStartTime"></td>
			</tr>
			<tr data-dojo-attach-point="atdpEndTimeTr">
				<td>End Time:</td>
				<td data-dojo-attach-point="atdpEndTime"></td>
			</tr>
			<tr data-dojo-attach-point="atdpTimeTr">
				<td>Time:</td>
				<td data-dojo-attach-point="atdpTime"></td>
			</tr>
		</table>
		<div class="dijitDialogPaneActionBar">
			<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="atdpRemoveButton" data-dojo-attach-event="onClick: atdpRemove" style="float: left">Remove</button>
			<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-point="atdpContinueButton" data-dojo-attach-event="onClick: atdpContinue">Continue Task</button>
			<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onClick: atdpClose">Close</button>
		</div>
	</div>
	<div data-dojo-type="dijit/TooltipDialog" data-dojo-attach-point="confirmActionPopup" data-dojo-attach-event="onBlur: confirmActionPopupClose" style="display: none; width: 350px">
		<div>
			Proceeding will launch an asynchronous task that might take a couple of minutes to complete. Once completed, you can continue with the task.
		</div>
		<div class="dijitDialogPaneActionBar">
			<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onClick: confirmActionPopupContinue">Continue</button>
			<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onClick: confirmActionPopupClose">Cancel</button>
		</div>
	</div>
	<div data-dojo-attach-point="loadingGif" style="position: absolute; background-color: rgba(255, 255, 255, 0.75); background-image:url(resources/loader.gif); background-repeat: no-repeat; background-position: center; width: 100%; top: 30px; bottom: 0; z-index: 1000"></div>
	<div data-dojo-type="dijit/Toolbar" style="border: solid 1px #759dc0; margin-bottom: 1px; padding-left: 0">
		<div data-dojo-type="dijit/form/DropDownButton">
			<span>Basemap</span>
			<div data-dojo-type="dijit/Menu">
				<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="selectBasemap_SatelliteButton" data-dojo-attach-event="onClick: selectBasemap_Satellite" class="bold">Satellite</div>
				<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="selectBasemap_NaturalVueButton" data-dojo-attach-event="onClick: selectBasemap_NaturalVue">NaturalVue</div>
				<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="selectBasemap_HybridButton" data-dojo-attach-event="onClick: selectBasemap_Hybrid" >Hybrid</div>
				<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="selectBasemap_TopographicButton" data-dojo-attach-event="onClick: selectBasemap_Topographic" >Topographic</div>
				<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="selectBasemap_StreetsButton" data-dojo-attach-event="onClick: selectBasemap_Streets" >Streets</div>
			</div>
		</div>
		<div data-dojo-type="dijit/form/DropDownButton">
			<span>Image Format</span>
			<div data-dojo-type="dijit/Menu">
				<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="setImageFormat_JPGPNGButton" data-dojo-attach-event="onClick: setImageFormat_JPGPNG" class="bold">JPGPNG</div>
				<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="setImageFormat_JPGButton" data-dojo-attach-event="onClick: setImageFormat_JPG">JPG</div>
			</div>
		</div>
		<span data-dojo-type="dijit/ToolbarSeparator"></span>
		<div data-dojo-type="dijit/form/DropDownButton">
			<span>Toggle</span>
			<div data-dojo-type="dijit/Menu">
				<div id="${id}_toggleRasterLayerButton" data-dojo-type="dijit/CheckedMenuItem" data-dojo-attach-point="toggleRasterLayerButton" data-dojo-attach-event="onChange: toggleRasterLayer" data-dojo-props="checked: true">Images</div>
				<div id="${id}_toggleFootprintsButton" data-dojo-type="dijit/CheckedMenuItem" data-dojo-attach-point="toggleFootprintsButton" data-dojo-attach-event="onChange: toggleFootprints" data-dojo-props="checked: true">Footprints</div>
			</div>
		</div>
		<div data-dojo-type="dijit/Tooltip" data-dojo-props="connectId: '${id}_toggleRasterLayerButton', position: ['before-centered', 'after-centered'], showDelay: 0">Keyboard Shortcut: R</div>
		<div data-dojo-type="dijit/Tooltip" data-dojo-props="connectId: '${id}_toggleFootprintsButton', position: ['before-centered', 'after-centered'], showDelay: 0">Keyboard Shortcut: F</div>
	</div>
	<div data-dojo-type="dijit/layout/AccordionContainer" data-dojo-attach-point="selectRasterContainer" style="display: none">
		<div data-dojo-type="dijit/layout/ContentPane" title="Rasters" style="padding: 0">
			<div data-dojo-type="dijit/Toolbar">
				<div data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: showAddRasterDialog">Add Raster</div>
				<span data-dojo-type="dijit/ToolbarSeparator"></span>
				<div data-dojo-type="dijit/form/DropDownButton">
					<span>Visibility</span>
					<div data-dojo-type="dijit/Menu" data-dojo-attach-point="rastersDisplayMenu">
						<div data-dojo-type="dijit/MenuItem" data-dojo-attach-event="onClick: rastersDisplay_enableAll">Enable All</div>
						<div data-dojo-type="dijit/MenuItem" data-dojo-attach-event="onClick: rastersDisplay_disableAll">Disable All</div>
					</div>
				</div>
			</div>
			<div data-dojo-attach-point="rastersGrid" style="height: 150px"></div>
		</div>
	</div>
	<div data-dojo-type="dijit/layout/AccordionContainer" data-dojo-attach-point="tasksContainer">
		<div data-dojo-type="dijit/layout/ContentPane" title="Georeference Tasks">
			<table style="width: 100%">
				<tr>
					<td style="height: 25px; vertical-align: middle; text-align: center">
						<button class="fixedWidth250" data-dojo-type="dijit/form/Button" style="margin-top: 0; margin-bottom: 0; margin-right: 0" data-dojo-attach-event="onClick: openRoughTransform">Affine Transform</button>
					</td>
				</tr>
				<tr>
					<td style="height: 25px; vertical-align: middle; text-align: center">
						<button class="fixedWidth250" data-dojo-type="dijit/form/Button" style="margin-top: 0; margin-bottom: 0; margin-right: 0" data-dojo-attach-event="onClick: startEditTiepoints">Edit Tiepoints</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div data-dojo-type="dijit/layout/AccordionContainer" data-dojo-attach-point="editTiepointsContainer" style="display: none">
		<div data-dojo-type="dijit/layout/ContentPane" title="Edit Tiepoints" style="padding: 0">
			<div data-dojo-type="dijit/Toolbar">
				<div data-dojo-type="dijit/form/ToggleButton" data-dojo-attach-point="addTiepointButton" data-dojo-attach-event="onChange: addTiepoint">Add Points</div>
				<div data-dojo-type="dijit/form/DropDownButton">
					<span>Selection</span>
					<div data-dojo-type="dijit/Menu">
						<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="toggleTiepointsSelectionMenuItem" data-dojo-attach-event="onClick: toggleTiepointsSelection">Select All</div>
						<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="resetSelectedTiepointsMenuItem" data-dojo-attach-event="onClick: resetSelectedTiepoints" style="display: none">Reset Selected Tiepoints</div>
						<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="removeSelectedTiepointsMenuItem" data-dojo-attach-event="onClick: removeSelectedTiepoints" style="display: none">Remove Selected Tiepoints</div>
					</div>
				</div>
				<span data-dojo-type="dijit/ToolbarSeparator"></span>
				<div data-dojo-type="dijit/form/DropDownButton">
					<span>File</span>
					<div data-dojo-type="dijit/Menu">
						<div data-dojo-type="dijit/MenuItem" data-dojo-attach-event="onClick: importTiepoints">Import</div>
						<div data-dojo-type="dijit/MenuItem" data-dojo-attach-event="onClick: exportTiepoints">Export</div>
					</div>
				</div>
			</div>
			<div data-dojo-attach-point="tiepointsGrid" style="height: 300px"></div>
			<div class="dijitDialogPaneActionBar">
				<button data-dojo-type="dijit/form/Button" data-dojo-attach-point="collectComputedTiepointsButton" data-dojo-attach-event="onClick: collectComputedTiepoints" style="float: left">AutoDetect Tiepoints</button>
				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onClick: closeEditTiepoints">Cancel</button>
				<button data-dojo-type="dijit/form/DropDownButton" type="button">
					<span>Apply Transform</span>
					<div data-dojo-type="dijit/Menu">
						<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="applyManualTransform_ProjectiveButton" data-dojo-attach-event="onClick: applyManualTransform_Projective">Projective Transform</div>
						<div data-dojo-type="dijit/Tooltip" data-dojo-attach-point="applyManualTransform_ProjectiveTooltip" data-dojo-props="position: ['before-centered', 'after-centered', 'above-centered'], showDelay: 0">A minimum of 4 tiepoint pairs required</div>
						<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="applyManualTransform_1stOrderButton" data-dojo-attach-event="onClick: applyManualTransform_1stOrder">1st Order Polynomial Transform</div>
						<div data-dojo-type="dijit/Tooltip" data-dojo-attach-point="applyManualTransform_1stOrderTooltip" data-dojo-props="position: ['before-centered', 'after-centered', 'above-centered'], showDelay: 0">A minimum of 3 tiepoint pairs required</div>
						<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="applyManualTransform_2ndOrderButton" data-dojo-attach-event="onClick: applyManualTransform_2ndOrder">2nd Order Polynomial Transform</div>
						<div data-dojo-type="dijit/Tooltip" data-dojo-attach-point="applyManualTransform_2ndOrderTooltip" data-dojo-props="position: ['before-centered', 'after-centered', 'above-centered'], showDelay: 0">A minimum of 6 tiepoint pairs required</div>
						<div data-dojo-type="dijit/MenuItem" data-dojo-attach-point="applyManualTransform_3rdOrderButton" data-dojo-attach-event="onClick: applyManualTransform_3rdOrder">3rd Order Polynomial Transform</div>
						<div data-dojo-type="dijit/Tooltip" data-dojo-attach-point="applyManualTransform_3rdOrderTooltip" data-dojo-props="position: ['before-centered', 'after-centered', 'above-centered'], showDelay: 0">A minimum of 10 tiepoint pairs required</div>
					</div>
				</button>
			</div>
			<div style="position: absolute; width: 100%; height: 100%; top: 0; display: none; z-index: 1" data-dojo-attach-point="editTiepointsContainer_loading">
				<div style="position: absolute; background: white; opacity: 0.75; width: 100%; height: 100%"></div>
				<div style="position: absolute; width: 100%; text-align: center; top: 50%; line-height: 0">Computing Tiepoints...</div>
			</div>
		</div>
	</div>
	<div data-dojo-type="dijit/layout/AccordionContainer" data-dojo-attach-point="manualTransformContainer" style="display: none">
		<div data-dojo-type="dijit/layout/ContentPane" title="Manual Transform">
			<table style="width: 100%">
				<tr>
					<td style="height: 25px; vertical-align: middle; text-align: center">
						<button class="fixedWidth250" data-dojo-type="dijit/form/Button" style="margin-top: 0; margin-bottom: 0; margin-right: 0" data-dojo-attach-event="onClick: rt_fit">Fit Raster to Current View</button>
					</td>
				</tr>
				<tr>
					<td style="height: 25px; vertical-align: middle; text-align: center">
						<button class="fixedWidth250" data-dojo-type="dijit/form/ToggleButton" style="margin-top: 0; margin-bottom: 0; margin-right: 0" data-dojo-attach-event="onChange: rt_move" data-dojo-attach-point="rt_moveButton">Shift Raster</button>
					</td>
				</tr>
				<tr>
					<td style="height: 25px; vertical-align: middle; text-align: center">
						<button class="fixedWidth250" data-dojo-type="dijit/form/ToggleButton" style="margin-top: 0; margin-bottom: 0; margin-right: 0" data-dojo-attach-event="onChange: rt_scale" data-dojo-attach-point="rt_scaleButton">Scale Raster</button>
					</td>
				</tr>
				<tr>
					<td style="height: 25px; vertical-align: middle; text-align: center">
						<button class="fixedWidth250" data-dojo-type="dijit/form/ToggleButton" style="margin-top: 0; margin-bottom: 0; margin-right: 0" data-dojo-attach-event="onChange: rt_rotate" data-dojo-attach-point="rt_rotateButton">Rotate Raster</button>
					</td>
				</tr>
			</table>
			<div class="dijitDialogPaneActionBar">
				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onClick: closeRoughTransform">Done</button>
			</div>
		</div>
	</div>
	<div data-dojo-type="dijit/layout/AccordionContainer" data-dojo-attach-point="rtMoveContainer" style="display: none">
		<div data-dojo-type="dijit/layout/ContentPane" title="Shift Raster" style="padding: 0">
			<table style="width: 100%; text-align: center; border-collapse: collapse; border: 1px solid #DDD">
				<tr>
					<th style="border: 1px solid #DDD; background-color: #EEE; padding: 5px">Source Point</th>
					<th style="border: 1px solid #DDD; background-color: #EEE; padding: 5px">Target Point</th>
				</tr>
				<tr>
					<td style="padding: 0; border: 1px solid #DDD"><div data-dojo-type="gotemb/GeorefWidget/PointGrid" data-dojo-attach-point="rtMoveFromGrid"></div></td>
					<td style="padding: 0; border: 1px solid #DDD"><div data-dojo-type="gotemb/GeorefWidget/PointGrid" data-dojo-attach-point="rtMoveToGrid"></div></td>
				</tr>
				<tr>
					<td style="border: 1px solid #DDD"><button data-dojo-type="dijit/form/ToggleButton" data-dojo-attach-event="onChange: rtMoveFromPick" data-dojo-attach-point="rtMoveFromPickButton">Pick Point</button></td>
					<td style="border: 1px solid #DDD"><button data-dojo-type="dijit/form/ToggleButton" data-dojo-attach-event="onChange: rtMoveToPick" data-dojo-attach-point="rtMoveToPickButton">Pick Point</button></td>
				</tr>
			</table>
			<div class="dijitDialogPaneActionBar">
				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onClick: rt_moveClose">Cancel</button>
				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onClick: rt_moveTransform">Move</button>
			</div>
		</div>
	</div>
	<div data-dojo-type="dijit/layout/AccordionContainer" data-dojo-attach-point="rtScaleContainer" style="display: none">
		<div data-dojo-type="dijit/layout/ContentPane" title="Scale Raster" style="text-align: center">
			<form style="display: inline-block">
				<label>Scale Factor:</label>
				<input type="text" data-dojo-attach-point="rtScaleFactorInput">
			</form>
			<div class="dijitDialogPaneActionBar">
				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onClick: rt_scaleClose">Cancel</button>
				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onClick: rt_scaleTransform">Scale</button>
			</div>
		</div>
	</div>
	<div data-dojo-type="dijit/layout/AccordionContainer" data-dojo-attach-point="rtRotateContainer" style="display: none">
		<div data-dojo-type="dijit/layout/ContentPane" title="Rotate Raster" style="text-align: center">
			<form style="display: inline-block">
				<label>Rotate By (clockwise degrees):</label>
				<input type="text" data-dojo-attach-point="rtRotateDegreesInput">
			</form>
			<div class="dijitDialogPaneActionBar">
				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onClick: rt_rotateClose">Cancel</button>
				<button data-dojo-type="dijit/form/Button" type="button" data-dojo-attach-event="onClick: rt_rotateTransform">Rotate</button>
			</div>
		</div>
	</div>
	<div data-dojo-type="dijit/layout/AccordionContainer" data-dojo-attach-point="asyncResultsContainer" style="display: none">
		<div data-dojo-type="dijit/layout/ContentPane" title="Async Tasks Results" style="padding: 0">
			<div data-dojo-attach-point="asyncResultsGrid" style="height: 150px"></div>
		</div>
	</div>
</div>