<div style="width: 100%">
	<table style="width: 100%">
		<tr>
			<td style="text-align: right; height: 25px; vertical-align: middle; width: 1; white-space: nowrap">
				<label>Raster:</label>
			</td>
			<td style="height: 25px; vertical-align: middle">
				<form data-dojo-attach-point="uploadForm">
					<input type="file" data-dojo-attach-point="imageFile" style="min-width: 250px; width: 100%" name="file">
				</form>
			</td>
		</tr>
		<tr>
			<td colspan="2" style="height: 25px; vertical-align: middle; text-align: right">
				<button data-dojo-type="dijit/form/Button" style="margin-top: 0; margin-bottom: 0; margin-right: 0" data-dojo-attach-event="onClick: upload">Upload</button>
			</td>
		</tr>
	</table>
</div>