html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-size: 14px;
}
#georefWidgetContainer {
  position: absolute;
  right: 35px;
  top: 75px;
}
#geocoder {
  display: block;
  position: absolute;
  left: 80px;
  top: 26px;
}
#title {
  font-weight: bold;
}
.dgrid-cell-padding {
  padding: 3px 9px;
}
.fixedWidth250 .dijitButtonNode {
  width: 250px;
}
.dijitBorderContainer {
  border: none;
}
.dijitContentPane.dijitBorderContainer-child.dijitBorderContainer-dijitContentPane.dijitBorderContainerPane {
  padding: 0;
}
.dijitContentPane.dijitBorderContainer-child.dijitBorderContainer-dijitContentPane.dijitBorderContainerPane.no-border {
  border: none;
}
.claro * {
  outline: none;
}
.dgrid-scroller {
  margin-top: 0 !important;
}
.dgrid-header {
  z-index: 1;
}
th.dgrid-cell {
  text-align: center;
}
.dgrid-content {
  margin-top: 23px;
  height: auto;
}
.field-display {
  width: 25px;
  padding: 2px 4px;
  background-color: #eee;
}
.field-rasterId {
  width: 45px;
}
td.field-rasterId {
  text-align: right;
}
.field-rasterId .dgrid-sort-arrow {
  display: none;
}
td.field-sourcePoint,
td.field-targetPoint {
  padding: 0;
}
.field-id {
  width: 25px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  background-color: #eee;
}
.dgrid-selected .field-id {
  background-color: #bfd6eb;
}
.field-id.yellow {
  background-color: #ff0;
}
.dgrid-row.yellow {
  background-color: #ff0;
}
.dgrid-row.yellow .field-id {
  background-color: #ee1;
}
.PointGrid {
  border-collapse: collapse;
  width: 100%;
}
.PointGrid td {
  padding: 0 3px;
  font-size: 0.9em;
  background-color: rgba(255,255,255,0.5);
}
.PointGrid td:first-child {
  border-right: solid 1px #ddd;
}
.PointGrid td input {
  margin: 0;
  width: 100%;
  border: none;
  padding: 2px 0;
  font-size: 1em;
  text-align: right;
  background-color: transparent;
}
.dijitAccordionContainer-dijitContentPane .dijitDialogPaneActionBar {
  margin: 9px -9px -9px;
}
.dijitAccordionContainer-dijitContentPane[style*="padding: 0px;"] .dijitDialogPaneActionBar {
  border-top: none;
  margin: 0;
}
tr.dijitMenuItem td.dijitMenuItemIconCell {
  padding: 5px 3px 3px 5px;
}
.field-resultId {
  width: 45px;
}
td.field-resultId {
  text-align: right;
}
.field-status {
  width: 90px;
}
.bold {
  font-weight: bold;
}
.pngIcon {
  background-image: url("resources/png.png");
  width: 20px;
  height: 16px;
  -webkit-background-size: 24px;
  -moz-background-size: 24px;
  background-size: 24px;
  background-position: -3px -5px;
  background-repeat: no-repeat;
}
.jpgIcon {
  background-image: url("resources/jpg.png");
  width: 20px;
  height: 16px;
  -webkit-background-size: 24px;
  -moz-background-size: 24px;
  background-size: 24px;
  background-position: -3px -5px;
  background-repeat: no-repeat;
}
.toggleImagesIcon {
  background-image: url("resources/Picture.png");
  width: 20px;
  height: 16px;
  -webkit-background-size: 26px;
  -moz-background-size: 26px;
  background-size: 26px;
  background-position: -3px -5px;
  background-repeat: no-repeat;
}
.toggleFootprintsIcon {
  background-image: url("resources/Restangle.png");
  width: 20px;
  height: 16px;
  -webkit-background-size: 20px;
  -moz-background-size: 20px;
  background-size: 20px;
  background-position: 0 -2px;
  background-repeat: no-repeat;
}
.filterIcon {
  background-image: url("resources/filter.png");
  width: 16px;
  height: 16px;
  -webkit-background-size: 16px;
  -moz-background-size: 16px;
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}
.basemapIcon {
  background-image: url("resources/Basemap16.png");
  width: 16px;
  height: 16px;
  -webkit-background-size: 16px;
  -moz-background-size: 16px;
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}
.plusIcon {
  background-image: url("resources/plus.png");
  width: 20px;
  height: 16px;
  -webkit-background-size: 18px;
  -moz-background-size: 18px;
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
}
.selectionIcon {
  background-image: url("resources/selection-select.png");
  width: 16px;
  height: 16px;
  -webkit-background-size: 16px;
  -moz-background-size: 16px;
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}
.importIcon {
  background-image: url("resources/import_black.png");
  width: 20px;
  height: 16px;
  -webkit-background-size: 16px;
  -moz-background-size: 16px;
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}
.exportIcon {
  background-image: url("resources/export_black.png");
  width: 20px;
  height: 16px;
  -webkit-background-size: 16px;
  -moz-background-size: 16px;
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}
.claro .dijitToolbar .dijitToggleButtonChecked .dijitButtonNode {
  background-color: #add8e6;
}
.displayAllIcon {
  background-image: url("resources/select_by_adding_to_selection.png");
  width: 20px;
  height: 16px;
  -webkit-background-size: 16px;
  -moz-background-size: 16px;
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}
.displayNoneIcon {
  background-image: url("resources/select_restangular.png");
  width: 20px;
  height: 16px;
  -webkit-background-size: 16px;
  -moz-background-size: 16px;
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}
.selectionOnlyIcon {
  background-image: url("resources/select_by_difference.png");
  width: 20px;
  height: 16px;
  -webkit-background-size: 16px;
  -moz-background-size: 16px;
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}
.addImageIcon {
  background-image: url("resources/image_add.png");
  width: 20px;
  height: 16px;
  -webkit-background-size: 16px;
  -moz-background-size: 16px;
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}
@-moz-keyframes yellowAnimate {
  0% {
    background-color: #ff0;
  }

  100% {
    background-color: transparent;
  }
}
@-webkit-keyframes yellowAnimate {
  0% {
    background-color: #ff0;
  }

  100% {
    background-color: transparent;
  }
}
@-o-keyframes yellowAnimate {
  0% {
    background-color: #ff0;
  }

  100% {
    background-color: transparent;
  }
}
@-ms-keyframes yellowAnimate {
  0% {
    background-color: #ff0;
  }

  100% {
    background-color: transparent;
  }
}
@keyframes yellowAnimate {
  0% {
    background-color: #ff0;
  }

  100% {
    background-color: transparent;
  }
}
