@import nib

html, body
	margin 0
	padding 0
	position relative
	width 100%
	height 100%
	font-family sans-serif
	font-size 14px

#classifyWidgetContainer
	position absolute
	right 20px
	top 59px
	padding 0
	border none

	& > div
		margin 8px

#dock
	position absolute
	top 11px
	right 11px
	background none
	border none

	ul li
		border-radius 0