html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  font-size: 14px;
}
#georefWidgetContainer {
  position: absolute;
  right: 35px;
  top: 75px;
}
#geocoder {
  display: block;
  position: absolute;
  left: 80px;
  top: 26px;
}
#title {
  font-weight: bold;
}
.dgrid-cell-padding {
  padding: 3px 9px;
}
.fixedWidth250 .dijitButtonNode {
  width: 250px;
}
.dijitBorderContainer {
  border: none;
}
.dijitContentPane.dijitBorderContainer-child.dijitBorderContainer-dijitContentPane.dijitBorderContainerPane {
  padding: 0;
}
.dijitContentPane.dijitBorderContainer-child.dijitBorderContainer-dijitContentPane.dijitBorderContainerPane.no-border {
  border: none;
}
.claro * {
  outline: none;
}
.dgrid-scroller {
  margin-top: 0 !important;
}
.dgrid-header {
  z-index: 1;
}
th.dgrid-cell {
  text-align: center;
}
.dgrid-content {
  margin-top: 23px;
  height: auto;
}
.field-display {
  width: 25px;
  padding: 5px 0 0;
  background-color: #eee;
}
.dgrid-input[type="CheckBox"] {
  margin: 0;
}
.field-rasterId {
  width: 100px;
}
td.field-sourcePoint,
td.field-targetPoint {
  padding: 0;
}
.field-id {
  width: 25px;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  -webkit-transition: background-color 250ms linear;
  -moz-transition: background-color 250ms linear;
  -o-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
td.field-id {
  cursor: pointer;
}
.field-id.yellow {
  background-color: #ff0;
  -webkit-transition: background-color 0ms linear;
  -moz-transition: background-color 0ms linear;
  -o-transition: background-color 0ms linear;
  -ms-transition: background-color 0ms linear;
  transition: background-color 0ms linear;
}
.PointGrid {
  border-collapse: collapse;
  width: 100%;
}
.PointGrid td {
  padding: 0 3px;
  font-size: 0.9em;
  background-color: #fff;
}
.PointGrid td:first-child {
  background-color: #eee;
  padding: 3px;
  width: 16px;
  text-align: center;
  border-right: solid 1px #ddd;
}
.PointGrid td input {
  margin: 0;
  width: 100%;
  border: none;
  padding: 0;
  font-size: 1em;
}
.dijitAccordionContainer-dijitContentPane .dijitDialogPaneActionBar {
  margin: 9px -9px -9px;
}
.dijitAccordionContainer-dijitContentPane[style*="padding: 0px;"] .dijitDialogPaneActionBar {
  border-top: none;
  margin: 0;
}
tr.dijitMenuItem td.dijitMenuItemIconCell {
  padding: 5px 3px 3px 5px;
}
@-moz-keyframes yellowAnimate {
  0% {
    background-color: #ff0;
  }

  100% {
    background-color: transparent;
  }
}
@-webkit-keyframes yellowAnimate {
  0% {
    background-color: #ff0;
  }

  100% {
    background-color: transparent;
  }
}
@-o-keyframes yellowAnimate {
  0% {
    background-color: #ff0;
  }

  100% {
    background-color: transparent;
  }
}
@-ms-keyframes yellowAnimate {
  0% {
    background-color: #ff0;
  }

  100% {
    background-color: transparent;
  }
}
@keyframes yellowAnimate {
  0% {
    background-color: #ff0;
  }

  100% {
    background-color: transparent;
  }
}
